@import '../../../../styles/variables.scss';
.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: $color-text-homepage;
    padding: 1.2rem 2rem 1rem 2rem;
    gap: 2rem;
}

.items {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
}

.item:hover{
    color: $color-circles-home;
    cursor: pointer;
}