@import '../../../../styles/variables.scss';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    list-style: none;
    padding: 2rem 3rem 0rem 4.4rem;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none;

    &__item {
        font-size: larger;
        font-weight: 400;
        margin-right: 2.5rem;

        &__selected {
            font-weight: 800;
        }

    }
}

.title {
    color: $color-text-homepage;
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
}

.rectangle {
    height: 0.7rem;
    width: 45%;
    background-color: #DEB831;
}