@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hole {
    animation-name: breathing;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .blue {
    animation-duration: 7s;
    box-shadow:
    inset 0 0 24px #fff,
    inset 10px 0 40px var(--blue-light),
    inset -10px 0 40px var(--blue-default),
    inset 10px 0 150px var(--blue-light),
    inset -10px 0 150px var(--blue-default),
    0 0 24px #fff,
    -5px 0 40px var(--blue-light),
    5px 0 40px var(--blue-default);
  }

  .green {
    animation-duration: 6s;
    box-shadow:
    inset 0 0 24px #fff,
    inset 10px 0 40px var(--green-light),
    inset -10px 0 40px var(--green-default),
    inset 10px 0 150px var(--green-light),
    inset -10px 0 150px var(--green-default),
    0 0 24px #fff,
    -5px 0 40px var(--green-light),
    5px 0 40px var(--green-default);
  }

  .purple {
    animation-duration: 5s;
    box-shadow:
    inset 0 0 24px #fff,
    inset 10px 0 40px var(--purple-light),
    inset -10px 0 40px var(--purple-default),
    inset 10px 0 150px var(--purple-light),
    inset -10px 0 150px var(--purple-default),
    0 0 24px #fff,
    -5px 0 40px var(--purple-light),
    5px 0 40px var(--purple-default);
  }
}

@keyframes breathing {
  0%, 100% {
    transform: scale(0.85)
  }
  50% {
    transform: scale(1.15)
  }
}