.nexthole {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow:
  inset 0 0 12px #fff,
  inset 5px 0 20px var(--purple-light),
  inset -5px 0 20px var(--purple-default),
  inset 5px 0 75px var(--purple-light),
  inset -5px 0 75px var(--purple-default),
  0 0 12px #fff,
  -3px 0 20px var(--purple-light),
  3px 0 20px var(--purple-default);
}