@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-default: #697CBF;
  --blue-light: #F7F9FF;
  --blue-dark: #24305A;

  --purple-default: #BF69B6;
  --purple-light: #FFF7FE;
  --purple-dark: #55245A;

  --green-default: #69BF72;
  --green-light: #F7FFF7;
  --green-dark: #2F5A24;

  --bg-gradient-l: #FFFFF8;
  --bg-gradient-r: #fad0d0;
  /* BA7E7E */
}

@media (prefers-color-scheme: light) {
}

@layer components {
  body {
    color: #493459;
    @apply bg-gradient-to-r from-[var(--bg-gradient-l)] to-[var(--bg-gradient-r)] cursor-cell;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

