@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: light) {
}

body {
  background: linear-gradient(to right,#FFFFF8 0%, #FFF0F0 100%);
  color: #493459
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

