@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dialog {
    transition: 0.5s;
    @media (orientation: portrait) {
      height: 50%;
      width: 75%;
      
    }
    @media (orientation: landscape) {
      height: 66%;
      width: 66%;
      
    }
    @apply border-solid border-4 rounded-lg fixed p-6 z-50 shadow-2xl cursor-pointer border-stone-900
  }
  .dialog-h2 {
      @apply md:text-4xl text-2xl m-2 flex justify-start
  }

  .back-size {
    top: 20vh;
    left: 16vw;

    @media (orientation: portrait) {
      top: 26vh;
      left: 9.5vw;
    }
  }

  .front-size {
    top: 12vh;
    left: 20vw;

    @media (orientation: portrait) {
      top: 22vh;
      left: 17.5vw;
    }
  }

  .center-size {
    top: 16vh;
    left: 18vw;

    @media (orientation: portrait) {
      top: 24vh;
      left: 13vw;
    }
  }

  .dialog-blue {
    .back {
      @apply dialog bg-blue-dark;
    }
    .front {
      @apply dialog bg-blue;
    }
    .center {
      scrollbar-color: var(--blue-default) var(--blue-default);
      @apply dialog bg-gradient-to-r from-blue-light to-background-right
    }

    h2 {
      @apply dialog-h2 text-blue
    }
  }
  
  .dialog-blue:hover {
    .back {
      @apply dialog bg-blue;
    }
    .front {
      @apply dialog bg-blue-dark
    }
    .center {
      @apply dialog bg-gradient-to-l from-blue-light to-background-left
    }

    h2 {
      @apply dialog-h2 text-blue-dark
    }
  }

  .dialog-purple {
    .back {
      @apply dialog bg-purple-dark;
    }
    .front {
      @apply dialog bg-purple
    }
    .center {
      scrollbar-color: var(--purple-default) var(--purple-default);
      @apply dialog bg-gradient-to-r from-purple-light to-background-left
    }

    h2 {
      @apply dialog-h2 text-purple
    }
  }
  .dialog-purple:hover {
    .back {
      @apply dialog bg-purple;
    }
    .front {
      @apply dialog bg-purple-dark
    }
    .center {
      @apply dialog bg-gradient-to-l from-purple-light to-background-left
    }

    h2 {
      @apply dialog-h2 text-purple-dark
    }
  }

  .dialog-green {
    .back {
      @apply dialog bg-green-dark;
    }
    .front {
      @apply dialog bg-green
    }
    .center {
      scrollbar-color: var(--green-default) var(--green-default);
      @apply dialog p-4 bg-gradient-to-r from-green-light to-background-left
    }

    h2 {
      @apply dialog-h2 text-green
    }
  }

  .dialog-green:hover {
    .back {
      @apply dialog bg-green;
    }
    .front {
      @apply dialog bg-green-dark
    }
    .center {
      @apply dialog bg-gradient-to-l from-green-light to-background-left
    }

    h2 {
      @apply dialog-h2 text-green-dark
    }
  }
}
