.mask_container {
    filter: drop-shadow(10px 10px 15px rgba(121, 116, 116, 0.75));
  
    &__flowerpot {
      mask: url("../../../public/assets/flowerpot.svg") no-repeat center/contain;
      cursor: pointer;
    }
  }